.headerTab {
  background-color: #24292e;
  color: hsla(0, 0%, 100%, 0.7);
  padding-right: 32px;
  padding-left: 32px;
  line-height: 1.5;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.headerInput {
  background-color: transparent !important;
  border: 0.3px grey solid !important;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
}

::placeholder {
  color: #e1e4e8;
}

.headerText {
  padding: 10px;
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
  font-weight: 600;
}

.headerCol {
  display: block;
  -ms-flex: 0 0 54.16666667%;
  flex: 0 0 54.16666667%;
  max-width: 54.16666667%;
  padding: 10px;
}

.headerIcons {
  font-size: 16px;
  color: #fff;
  padding-right: 9px;
}
