.headerTab {
  background-color: #24292e;
  color: hsla(0, 0%, 100%, 0.7);
  padding-right: 32px;
  padding-left: 32px;
  line-height: 1.5;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headerInput {
  background-color: transparent !important;
  border: 1px #959da5 solid !important;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px;
  width: 100%;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.headerText {
    padding: 4px;
  font-size: 15px;
  color: #fff;
  margin-top: 30px;
}

.headerCol{
    display: block;
    -ms-flex: 0 0 54.16666667%;
    flex: 0 0 54.16666667%;
    max-width: 54.16666667%;
    padding: 10px;
}
